<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 #=============================================================================#
 # Copyright (c) 2005-2015 Stephan Wahlbrink (WalWare.de) and others.
 # All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 # 
 # Contributors:
 #     Stephan Wahlbrink - initial API and implementation
 #=============================================================================#
-->

<plugin>
   
   <extension-point id="de.walware.ecommons.ltk.contentTypeActivation" 
         name="Additional activation for content types"
         schema="schema/de.walware.ecommons.ltk.contentTypeActivation.exsd"/>
   
   <extension-point id="de.walware.ecommons.ltk.contentSections" 
         name="Document Content Sections"
         schema="schema/contentSections.exsd"/>
   <extension-point id="de.walware.ecommons.ltk.contentSectionCommands" 
         name="Command Handlers for Document Content Sections"
         schema="schema/contentSectionCommands.exsd"/>
   
   <extension-point id="de.walware.ecommons.ltk.modelTypes"
         name="LTK Working Contexts"
         schema="schema/de.walware.ecommons.ltk.modelTypes.exsd"/>
   <extension-point id="de.walware.ecommons.ltk.modelAdapters"
         name="LKT Model Adapters"
         schema="schema/de.walware.ecommons.ltk.modelAdapters.exsd"/>
   
</plugin>
