<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 ###############################################################################
 # Copyright (c) 2005-2012 WalWare/StatET-Project (www.walware.de/goto/statet)
 # and others. All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 # 
 # Contributors:
 #     Stephan Wahlbrink - initial API and implementation
 ###############################################################################
-->

<plugin>
   
   <extension-point id="de.walware.ecommons.ltk.advancedContentAssist"
         schema="schema/advancedContentAssist.exsd"
         name="Point to register categories and computers for advanced content assist in editors"/>
   
   <extension-point id="de.walware.ecommons.ltk.advancedInfoHover"
         schema="schema/advancedInfoHover.exsd"
         name="Point to register information hovers"/>
   
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="de.walware.ecommons.text.contexts.TextEditor"
            parentId="org.eclipse.ui.textEditorScope"
            name="%contexts_TextEditorScope_name"
            description="%contexts_TextEditorScope_description">
      </context>
      <context
            id="de.walware.ecommons.base.contexts.StructuredElementViewer"
            parentId="org.eclipse.ui.contexts.window"
            name="%contexts_StructuredElementViewer_name">
            description="%contexts_StructuredElementViewer_description">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.walware.ecommons.ltk.contexts.EditSourceActionSet"
            label="StatET Source Editing">
      </actionSet>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.walware.statet.base.expressions.EditSourceActionSet">
              <with variable="activeContexts">
                 <iterate
                       operator="or">
                    <equals value="de.walware.ecommons.ltk.contexts.EditSourceActionSet">
                    </equals>
                 </iterate>
              </with>
      </definition>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <!-- edit -->
      <command
            id="de.walware.ecommons.base.commands.CopyElementName"
            categoryId="org.eclipse.ui.category.edit"
            name="%commands_CopyElementName_name"
            description="%commands_CopyElementName_description"
            />
      <command
            id="de.walware.ecommons.base.commands.SelectExpandEnclosing"
            categoryId="org.eclipse.ui.category.edit"
            name="%commands_SelectEnclosing_name"
            description="%commands_SelectEnclosing_description"
            />
      <command
            id="de.walware.ecommons.base.commands.SelectExpandNext"
            categoryId="org.eclipse.ui.category.edit"
            name="%commands_SelectNext_name"
            description="%commands_SelectNext_description"
            />
      <command
            id="de.walware.ecommons.base.commands.SelectExpandPrevious"
            categoryId="org.eclipse.ui.category.edit"
            name="%commands_SelectPrevious_name"
            description="%commands_SelectPrevious_description"
            />
      <command
            id="de.walware.ecommons.base.commands.SelectLast"
            categoryId="org.eclipse.ui.category.edit"
            name="%commands_SelectLast_name"
            description="%commands_SelectLast_description"
            />
      <command
            id="de.walware.ecommons.ltk.commands.SpecificContentAssist"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_SpecificContentAssist_name"
            description="%commands_SpecificContentAssist_description">
         <commandParameter
               id="categoryId"
               name="%commands_SpecificContentAssist_param_CategoryId_name"
               optional="false"
               values="de.walware.ecommons.ltk.internal.ui.SpecificContentAssistParameterValues"/>
      </command>
      
      <!-- navigate -->
      <command
            id="de.walware.ecommons.text.commands.GotoMatchingBracket"
            categoryId="org.eclipse.ui.category.navigate"
            name="%commands_GotoMatchingBracket_name"
            description="%commands_GotoMatchingBracket_description" />
      
      <!-- search -->
      <command
            id="de.walware.ecommons.ide.commands.OpenSearchDialog"
            categoryId="org.eclipse.search.ui.category.search"
            name="Open Search Dialog"
            description="Opens the Search Dialog"
            defaultHandler="de.walware.epatches.ui.OpenSearchDialogHandler">
         <commandParameter
               id="pageId"
               name="Page"
               optional="true">
         </commandParameter>
      </command>
      
      <!-- source -->
      <category
            id="de.walware.statet.base.commandCategorys.StatetSource"
            name="%categorys_StatetSource_name"
            description="%categorys_StatetSource_description" />
      <command
            id="de.walware.ecommons.ltk.commands.ToggleComment"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_ToggleComment_name"
            description="%commands_ToggleComment_description"
            />
      <command
            id="de.walware.ecommons.ltk.commands.InsertAssignment"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_InsertAssignment_name"
            description="%commands_InsertAssignment_description"
            />
      <command
            id="de.walware.ecommons.ltk.commands.AddDocComment"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_AddDocComment_name"
            description="%commands_AddDocComment_description"
            />
      <command
            id="de.walware.ecommons.ltk.commands.GenerateElementComment"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_GenerateElementComment_name"
            description="%commands_GenerateElementComment_description"
            />
      <command
            id="de.walware.ecommons.ltk.commands.CorrectIndent"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_CorrectIndent_name"
            description="%commands_CorrectIndent_description"
            />
      
      <command
            id="de.walware.ecommons.ltk.commands.ToggleLiveReportProblems"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_ToggleReportProblemWhenTyping_name"
            description="%commands_ToggleReportProblemWhenTyping_description"
            />
      <!-- refactor -->
      <command
            id="de.walware.ecommons.ltk.commands.RefactorRenameInWorkspace"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_RefactorRenameInWorkspace_name"
            description="%commands_RefactorRenameInWorkspace_description"/>
      <command
            id="de.walware.ecommons.ltk.commands.RefactorRenameInSelectedRegion"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_RefactorRenameInSelectedRegion_name"
            description="%commands_RefactorRenameInSelectedRegion_description"/>
      <command
            id="de.walware.ecommons.ltk.commands.RefactorInlineLocalVariable"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_RefactorInlineLocalVariable_name"
            description="%commands_RefactorInlineLocalVariable_description"/>
      <command
            id="de.walware.ecommons.ltk.commands.RefactorExtractLocalVariable"
            categoryId="de.walware.statet.base.commandCategorys.StatetSource"
            name="%commands_RefactorExtractLocalVariable_name"
            description="%commands_RefactorExtractLocalVariable_description"/>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.jdt.ui.edit.text.java.toggleMarkOccurrences"
            icon="icons/tool_16/mark-occurrences.png"
            disabledIcon="icons/tool_16_d/mark-occurrences.png" />
      <image
            commandId="de.walware.ecommons.base.commands.CopyElementName"
            icon="icons/tool_16/copy-name.png">
      </image>
      <image
            commandId="de.walware.ecommons.ide.commands.OpenSearchDialog"
            icon="icons/tool_16/search.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         
      <key
            commandId="de.walware.ecommons.base.commands.SelectExpandEnclosing"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+ARROW_UP"/>
      <key
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            sequence="M2+M3+ARROW_UP"/>
      <key
            commandId="de.walware.ecommons.base.commands.SelectExpandEnclosing"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            sequence="CTRL+SHIFT+ARROW_UP"/>
      <key
            commandId="de.walware.ecommons.base.commands.SelectExpandNext"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+ARROW_RIGHT"/>
      <key
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            sequence="M2+M3+ARROW_RIGHT"/>
      <key
            commandId="de.walware.ecommons.base.commands.SelectExpandNext"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            sequence="CTRL+SHIFT+ARROW_RIGHT"/>
      <key
            commandId="de.walware.ecommons.base.commands.SelectExpandPrevious"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+ARROW_LEFT"/>
      <key
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            sequence="M2+M3+ARROW_LEFT"/>
      <key
            commandId="de.walware.ecommons.base.commands.SelectExpandPrevious"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            sequence="CTRL+SHIFT+ARROW_LEFT"/>
      <key
            commandId="de.walware.ecommons.base.commands.SelectLast"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+ARROW_DOWN"/>
      <key
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            sequence="M2+M3+ARROW_DOWN"/>
      <key
            commandId="de.walware.ecommons.base.commands.SelectLast"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            sequence="CTRL+SHIFT+ARROW_DOWN"/>
      
      <key
            commandId="de.walware.ecommons.text.commands.GotoMatchingBracket"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+P"/>
      
      <key
            commandId="de.walware.ecommons.ltk.commands.ToggleComment"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C"/>
      <key
            commandId="de.walware.ecommons.ltk.commands.InsertAssignment"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+&lt;"/>
      <key
            commandId="de.walware.ecommons.ltk.commands.InsertAssignment"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+="/>
      <key
            commandId="de.walware.ecommons.ltk.commands.AddDocComment"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+#"/>
      <key
            commandId="de.walware.ecommons.ltk.commands.AddDocComment"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+/"/>
      <key
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            sequence="M1+M2+/"/>
      <key
            commandId="de.walware.ecommons.ltk.commands.CorrectIndent"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I"/>
      <key
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+K">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findNext"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+K">
      </key>
      <key
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+K">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findPrevious"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+K">
      </key>
      
      <key
            commandId="org.eclipse.ui.edit.text.showInformation"
            contextId="de.walware.ecommons.base.contexts.StructuredElementViewer"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F2">
      </key>
      <key
            commandId="de.walware.ecommons.ltk.commands.RefactorRenameInWorkspace"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+R">
      </key>
      <key
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            sequence="M2+M3+R">
      </key>
      <key
            commandId="de.walware.ecommons.ltk.commands.RefactorRenameInWorkspace"
            contextId="de.walware.ecommons.text.contexts.TextEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            sequence="COMMAND+ALT+R">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            id="de.walware.ecommons.ltk.propertyTester.ContentTypeActivation"
            class="de.walware.ecommons.ltk.internal.ui.ActivatedContentTypeTester"
            namespace="de.walware.ecommons.ltk"
            properties="matchesActivatedContentType,matchesContentType"
            type="org.eclipse.core.runtime.IAdaptable"/>
      <propertyTester
            id="de.walware.ecommons.ltk.propertyTester.ModelElements"
            class="de.walware.ecommons.ltk.internal.ui.refactoring.ModelElementTester"
            namespace="de.walware.ecommons.ltk"
            properties="isElementC1TypeSelection,isElementC2TypeSelection"
            type="org.eclipse.jface.viewers.ISelection"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?after=selectAll">
         <menu
               label="%menus_Edit_ExpandSelectionTo_label"
               mnemonic="%menus_Edit_ExpandSelectionTo_mnemonic">
            <command
                  commandId="de.walware.ecommons.base.commands.SelectExpandEnclosing"
                  label="%commands_SelectEnclosing_name"
                  mnemonic="%menus_Edit_ExpandSelectionTo_Enclosing_mnemonic">
            </command>
            <command
                  commandId="de.walware.ecommons.base.commands.SelectExpandNext"
                  label="%commands_SelectNext_name"
                  mnemonic="%menus_Edit_ExpandSelectionTo_Next_mnemonic">
            </command>
            <command
                  commandId="de.walware.ecommons.base.commands.SelectExpandPrevious"
                  label="%commands_SelectPrevious_name"
                  mnemonic="%menus_Edit_ExpandSelectionTo_Previous_mnemonic">
            </command>
            <command
                  commandId="de.walware.ecommons.base.commands.SelectLast"
                  label="%commands_SelectLast_name"
                  mnemonic="%menus_Edit_ExpandSelectionTo_Last_mnemonic">
            </command>
            <visibleWhen>
               <reference
                     definitionId="de.walware.statet.base.expressions.EditSourceActionSet">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>

      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               id="de.walware.statet.base.menus.MainStatSource"
               label="Source"
               mnemonic="S">
            <separator
                  name="comment"
                  visible="true">
            </separator>
            <command
                  commandId="de.walware.ecommons.ltk.commands.ToggleComment"
                  mnemonic="%menus_Source_ToggleComment_mnemonic">
            </command>
            <command
                  commandId="de.walware.ecommons.ltk.commands.AddDocComment"
                  mnemonic="%menus_Source_AddDocComment_mnemonic">
            </command>
            <separator
                  name="comment.add"
                  visible="false">
            </separator>
            <separator
                  name="format"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.text.shiftRight"
                  mnemonic="%menus_Source_ShiftRight_mnemonic">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.text.shiftLeft"
                  mnemonic="%menus_Source_ShiftLeft_mnemonic">
            </command>
            <command
                  commandId="de.walware.ecommons.ltk.commands.CorrectIndent"
                  label="%commands_CorrectIndent_name"
                  mnemonic="%menus_Source_CorrectIndent_mnemonic">
            </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
            <visibleWhen>
               <reference
                     definitionId="de.walware.statet.base.expressions.EditSourceActionSet">
               </reference>
           </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:navigate?after=open.ext">
         <command
               commandId="org.eclipse.jdt.ui.edit.text.java.open.editor"
               style="push">
            <visibleWhen>
               <and>
                  <reference
                        definitionId="de.walware.statet.base.expressions.EditSourceActionSet"/>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      
      <menuContribution locationURI="menu:goTo">
         <command
               commandId="de.walware.ecommons.text.commands.GotoMatchingBracket"
               label="%menus_Nav_Goto_GotoMatchingBracket_label"
               mnemonic="%menus_Nav_GoTo_GotoMatchingBracket_mnemonic"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="de.walware.statet.base.expressions.EditSourceActionSet">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      
      <menuContribution
            locationURI="menu:window?after=newEditor">
         <dynamic
               id="de.walware.statet.base.menus.DocShareContributions"
               class="org.eclipse.ecf.docshare.menu.DocShareRosterMenuContributionItem">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.ui.texteditor.ITextEditor">
                  </instanceof>
               </with>
            </visibleWhen>
         </dynamic>
      </menuContribution>
   </extension>
   
   <extension
         id="de.walware.ecommons.resourceMarkers.InitialSelection"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="de.walware.ecommons.text.editorAnnotations.CommonOccurrences"
            super="org.eclipse.jdt.ui.occurrences">
      </type>
      <type
            name="de.walware.ecommons.text.editorAnnotations.WriteOccurrences"
            super="org.eclipse.jdt.ui.occurrences.write">
      </type>
      <type
            name="de.walware.ecommons.text.editorAnnotations.ContentAssistOverwrite">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <!-- Preferences are copy of JDT values, but increased priority -->
      <specification
            annotationType="de.walware.ecommons.text.editorAnnotations.WriteOccurrences"
            includeOnPreferencePage="false"
            presentationLayer="5"
            
            colorPreferenceKey="writeOccurrenceIndicationColor"
            colorPreferenceValue="240,216,168"
            overviewRulerPreferenceKey="writeOccurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="writeOccurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            highlightPreferenceKey="writeOccurrenceHighlighting"
            highlightPreferenceValue="true"
            textPreferenceKey="writeOccurrenceIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="writeOccurrenceTextStyle"
            textStylePreferenceValue="NONE">
      </specification>
   </extension>
   
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="de.walware.ecommons.ltk.keywords.SourceAppearance"
            label="%keywords_Appearance"/>
      <keyword
            id="de.walware.ecommons.ltk.keywords.SourceTemplates"
            label="%keywords_Template"/>
      <keyword
            id="de.walware.ecommons.ltk.keywords.SourceEditor"
            label="%keywords_Editor"/>
      <keyword
            id="de.walware.ecommons.ltk.keywords.TaskTags"
            label="%keywords_TaskTag"/>
      <keyword
            id="de.walware.ecommons.ltk.keywords.SourceFormatting"
            label="%keywords_Formatting"/>
      <keyword
            id="de.walware.ecommons.ltk.keywords.SpellChecking"
            label="%keywords_SpellChecking"/>
      <keyword
            id="de.walware.ecommons.ltk.keywords.SourceContentAssist"
            label="%keywords_ContentAssist"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="de.walware.workbench.themes.ElementCategory"
            label="%themes_ElementCategory_label">
      </themeElementCategory>
      
      <colorDefinition
            id="de.walware.workbench.themes.DocViewBackgroundColor"
            categoryId="de.walware.workbench.themes.ElementCategory"
            label="%themes_DocViewBackgroundColor_label"
            value="253,253,252">
         <description>
            Background color used when displaying documentation (e.g. R Help)
         </description>
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.DocViewColor"
            categoryId="de.walware.workbench.themes.ElementCategory"
            label="%themes_DocViewDefaultColor_label"
            value="0,0,0">
      </colorDefinition>
      <fontDefinition
            id="de.walware.workbench.themes.DocViewFont"
            categoryId="de.walware.workbench.themes.ElementCategory"
            label="%themes_DocViewFont_label">
         <description>
            Text font used when displaying documentation (e.g. R Help)
         </description>
      </fontDefinition>
      <fontDefinition
            id="de.walware.workbench.themes.ConsoleFont"
            categoryId="de.walware.workbench.themes.ElementCategory"
            label="%themes_ConsoleFont_label"
            defaultsTo="org.eclipse.jface.textfont">
         <description>
            Text font used for input and output in tool consoles (e.g. R Console)
         </description>
      </fontDefinition>
      
      <colorDefinition
            id="de.walware.workbench.themes.CodeDefaultColor"
            isEditable="false"
            label=""
            value="0,0,0">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodePreprocessorColor"
            isEditable="false"
            label=""
            value="95,95,255">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeCommentColor"
            isEditable="false"
            label=""
            value="63,127,79">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeCommentTaskTagColor"
            isEditable="false"
            label=""
            value="63,127,95">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeDocuColor"
            isEditable="false"
            label=""
            value="15,127,159">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeDocuTagColor"
            isEditable="false"
            label=""
            value="135,159,175">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeKeywordColor"
            isEditable="false"
            label=""
            value="127,0,95">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeConstColor"
            isEditable="false"
            label=""
            value="127,0,127">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeStringColor"
            isEditable="false"
            label=""
            value="63,63,175">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeNumberColor"
            isEditable="false"
            label=""
            value="0,0,127">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeOperatorColor"
            isEditable="false"
            label=""
            value="159,63,127">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeSubColor"
            isEditable="false"
            label=""
            value="63,95,95">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeDocCommandColor"
            isEditable="false"
            label=""
            value="127,0,255">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeDocCommandSpecialColor"
            isEditable="false"
            label=""
            value="63,0,127">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeDoc2ndColor"
            isEditable="false"
            label=""
            value="175,95,95">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeDoc2ndCommandColor"
            isEditable="false"
            label=""
            value="159,63,127">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeDoc2ndSubColor"
            isEditable="false"
            label=""
            value="159,95,127">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeVerbatimColor"
            isEditable="false"
            label=""
            value="79,79,127">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.CodeUndefinedColor"
            isEditable="false"
            label=""
            value="223,63,127">
      </colorDefinition>
      
      <colorDefinition
            id="de.walware.workbench.themes.ConsoleInfoColor"
            isEditable="false"
            label=""
            value="31,79,175">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.ConsoleInputColor"
            isEditable="false"
            label=""
            value="31,159,95">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.ConsoleOutputColor"
            isEditable="false"
            label=""
            value="0,0,0">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.ConsoleErrorColor"
            isEditable="false"
            label=""
            value="255,0,8">
      </colorDefinition>
      
      <colorDefinition
            id="de.walware.workbench.themes.MatchingBracketColor"
            isEditable="false"
            label=""
            value="192,192,192">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.InformationBackgroundColor"
            isEditable="false"
            label=""
            value="255,255,223">
      </colorDefinition>
      <colorDefinition
            id="de.walware.workbench.themes.InformationColor"
            isEditable="false"
            label=""
            value="0,0,0">
      </colorDefinition>
      
      <theme
            id="org.eclipse.ui.ide.systemDefault">
         <colorOverride
               id="de.walware.workbench.themes.DocViewBackgroundColor"
               value="COLOR_INFO_BACKGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.DocViewColor"
               value="COLOR_INFO_FOREGROUND">
         </colorOverride>
         
         <colorOverride
               id="de.walware.workbench.themes.CodeDefaultColor"
               value="COLOR_WIDGET_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodePreprocessorColor"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeCommentColor"
               value="COLOR_LIST_SELECTION">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeCommentTaskTagColor"
               value="COLOR_WIDGET_NORMAL_SHADOW">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeDocuColor"
               value="COLOR_LIST_SELECTION">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeDocuTagColor"
               value="COLOR_WIDGET_NORMAL_SHADOW">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeKeywordColor"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeKeywordColor"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeConstColor"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeStringColor"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeNumberColor"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeOperatorColor"
               value="COLOR_WIDGET_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeSubColor"
               value="COLOR_WIDGET_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeDocCommandColor"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeDocCommandSpecialColor"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeDoc2ndColor"
               value="COLOR_WIDGET_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeDoc2ndCommandColor"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeDoc2ndSubColor"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeVerbatimColor"
               value="COLOR_WIDGET_NORMAL_SHADOW">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.CodeUndefinedColor"
               value="COLOR_LIST_SELECTION">
         </colorOverride>
         
         <colorOverride
               id="de.walware.workbench.themes.ConsoleInfoColor"
               value="COLOR_WIDGET_NORMAL_SHADOW">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.ConsoleInputColor"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.ConsoleOutputColor"
               value="COLOR_WIDGET_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.ConsoleErrorColor"
               value="COLOR_LIST_SELECTION">
         </colorOverride>
         
         <colorOverride
               id="de.walware.workbench.themes.MatchingBracketColor"
               value="COLOR_WIDGET_NORMAL_SHADOW">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.InformationBackgroundColor"
               value="COLOR_INFO_BACKGROUND">
         </colorOverride>
         <colorOverride
               id="de.walware.workbench.themes.InformationColor"
               value="COLOR_INFO_FOREGROUND">
         </colorOverride>
      </theme>
      
   </extension>
   
</plugin>
